<% include header.ejs %>

<body style='background-color:lightgray'>
    <div style='text-align: center;font-style: italic;
    font-family: cursive;font-weight: bold'>
        <h1>ACTIVE ASSASSINS</h1>
        <a href="/newAssassin" style=' padding-right: 120px'><button class='btn btn-danger'>New Assassins</button></a>
        <h5 style='float: left'>Total no. of Assassins :
            <%= assassins.length %>
        </h5>
            <div class="dropdown" style='float:right;padding-right: 10px;'>
                <button class="dropbtn">Sort By :</button>
                <div class="dropdown-content">
                    <a href="/age">Age</a>
                    <a href="/price">Price</a>
                    <a href="/rating">Rating</a>
                    <a href="/kills">Kills</a>
                </div>
            </div>

    </div>

    <span class="container">
        <div class="row">
            <% assassins.forEach(function(assassins){ %>
            <div class="col-lg-3 col-sm-6">
                <a href="/one_assassin/<%= assassins.id%> ">

                    <div class="card hovercard">

                        <div class="cardheader">

                        </div>
                        <div class="avatar">
                            <img src='<%=assassins.photo%>'>
                        </div>
                        <div class="info">
                            <div class="title">
                                <a target="_blank">
                                    <%= assassins.full_name %></a>
                            </div>
                            <p><span style='font-weight: bold'>CODE NAME:</span>
                                <%= assassins.code_names %>
                            </p>
                            <p><span style='font-weight: bold'> WEAPON:</span>
                                <%=  assassins.weapon %>
                            </p>
                            <p><span style='font-weight: bold'>CONTACT INFO: </span>
                                <%=assassins.contact_info%>
                            </p>
                            <p><span style='font-weight: bold'>AGE:</span>
                                <%= assassins.age %>
                            </p>
                            <p> <span style='font-weight: bold'>PRICE:</span>
                                <%= assassins.price %>
                            </p>
                            <p> <span style='font-weight: bold'>RATING:</span>
                                <%=  assassins.rating %>
                            </p>
                            <p> <span style='font-weight: bold'>KILLS:</span>
                                <%=  assassins.kills %>
                            </p>
                        </div>
                        <div>
                            <a href="/EditAssassin/<%=assassins.id %>"><button class='btn btn-danger'>EDIT</button></a>
                            <form action="/delete/<%=assassins.id %>?_method=delete" method="POST" style="display:inline-block">
                                <button class='btn btn-danger' type='submit'>Delete</button></form>
                        </div>


                    </div>
                </a>
            </div>
            <% }); %>
        </div>

    </span>


</body>

</html>