<!-- including the header -->
<% include ../header.ejs %>
<body style='background-color:lightgray'>
    <div style='text-align: center'>
        <h1>ACTIVE CONTRACTS</h1><a href="/newContract" style='float:right; padding-left: 30px'><button>New Contract</button></a>
        <a href="/successContracts" style='float:right; padding-left: 30px'><button>Completed Contract</button></a>
    </div>
     <!-- making the active contract cards -->
    <span class="container">
        <div class="row">
            <% contracts.forEach(function(contracts){ %>
                <% if(contracts.complete === false) {%>
            <div class="col-lg-3 col-sm-6">

                <div class="card hovercard">
                    

                    <div class="cardheader">

                    </div>
                    <div class="avatar">
                        <img src='<%=contracts.target_photo %>' style='width:100px'>
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank">
                                <%= contracts.target_name %></a>
                        </div>
                        <p> TARGET LOCATION: <%=  contracts.target_location %></p>
                        <p> TARGET SECURITY: <%=  contracts.target_security %> </p>
                        <p> CLIENT NAME: <%= contracts.client_name %></p>
                        <p> BUDGET: <%= contracts.budget %></p>
                        
                    </div>
                    <div>
                            <a href="/editContract/<%=contracts.contract_id %>"><button>EDIT</button></a>
                            <form action="/completeContract/<%=contracts.contract_id %>" method="POST">
                                <button class='btn btn-danger' type='submit'>Delete</button></form>
                    </div>


                </div>

            </div>
            <%} %>
            <% }); %>
        </div>

    </span>
    
</body>

</html>